body {
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.search-container {
  display: inline-block;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.people-container {
  margin-top: 10px;
}

.sort-container {
  margin-top: 20px;
}

#results-container {
  margin-top: 20px;
}

#no-results {
  text-align: center;
  display: none;
}

.notification {
  background-color: #ffeb3b;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fbc02d;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #000;
  text-align: center;
  opacity: 0; /* Inicio transparente */
  transition: opacity 1s ease-in-out; /* Transición de opacidad */
}

.notification.show {
  opacity: 1; /* Totalmente opaco */
}

#notifications-container {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 300px;
}

#moving-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  animation: flyAcrossPage 12s linear;
}

@keyframes flyAcrossPage {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(calc(100vw - 100px), calc(-100vh + 100px)) rotate(45deg);
  }
  100% {
    transform: translate(calc(100vw - 100px), calc(-100vh + 100px)) rotate(45deg);
  }
}

#flash-notification-container {
  position: fixed;
  top: 50%;
  left: 40%; /* Mover un poco a la izquierda */
  transform: translate(-50%, -50%);
  background-color: #402168;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: none;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 24px; /* Letras grandes */
  text-align: center;
  max-width: 300px;
}




